.container {
  width: 80vw;
  margin: auto;
}

.firstNavbar {
  height: 5px;
  background-color: #c4c4c4;
}

.navbar {
  height: 50px;
  background: linear-gradient(to bottom, #f2f2f2, #ffffff);
  border-bottom: 2px solid #d5d5d5;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
}

.navbar span {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar button {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px;
  border: 1px solid #000000;
}

.navbar button:hover {
  border: 1px solid #ff0000;
  background-color: white;
  color: #ff0000;
}
